@import "page-common.css";

body {
  background-color: #a6e2fe;
}

h3 {
  background-color: #4fb8f2;
}

th {
  background-color: #a6e2fe;
}

div.banner {
  background-image: url(/images/world.png);
}
