@import "page-common.css";

body {
  background-color: #fff0af;
}

h3 {
  background-color: #ffd73d;
}

th {
  background-color: #fff0af;
}

div.banner {
  background-image: url(/images/warning.png);
}
