@import "page-common.css";

body {
  background-color: #ffeeee;
}

h3 {
  background-color: #ff8989;
}

th {
  background-color: #ffeeee;
}

div.banner {
  background-image: url(/images/important.png);
}
