body {
  margin: 0;
  padding: 0;
}

a, a:link, a:active, a:hover {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  float: left;
  margin-top: 5px;
}

div.container {
  margin: 50px auto;
  width: 650px;
  border: 1px solid black;
  border-width: 1px 2px 2px 1px;
  padding: 0 15px;
  background-color: white;
  font: normal .8em verdana, sans-serif;
  text-align: left;
}
div.container p {
  padding: 0 0 0 25px;
  margin: 7px 0;
}

span.smalltext {
  font-weight: normal;
  font-size: .7em;
}

code {
  font-size: 120%;
}

div.banner {
  height: 138px;
  background-repeat: no-repeat;
  background-position: left top;
}
div.banner a {
  color: #000000;
  text-decoration: none;
}
div.banner h1, div.banner h2 {
  margin: 0;
  margin-left: 138px;
}
div.banner h1 {
  font-size: 2.0em;
  margin-top: 10px;
}
div.banner h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

h3 {
  margin: 20px 0 0 0;
}

table {
  border: 0;
  border-collapse: collapse;
  margin: 10px auto;
}
th, td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #fff;
}
th {
}

#footer {
  color: #ccc;
  font-size: .7em;
  border-top: 1px solid #ccc;
  margin: 25px 0 0 0;
}
#footer p.spacer {
  clear: both;
  margin: 0;
  padding: 0;
}
